
.container {
    width: 80%;
    height: 700px;
    background: white;
    margin: auto;
    padding: 10px;
}
.left {
    width: 40%;
    height: 650px;
    background: #92a8d1;
    float: left;
}
.right {
    margin-left: 50%;
    height: 650px;
    background: #fefbd8;
}
